annotated-types
anyio
certifi
charset-normalizer
click
colorama
dnspython
exceptiongroup
fastapi
filelock
fsspec
h11
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pydantic
pydantic_core
pymongo
python-multipart
PyYAML
regex
requests
safetensors
sentencepiece
sniffio
SpeechRecognition
starlette
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
uvicorn
